# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Game/x64/Debug/HotlineMiami.pdb
Game/HotlineMiami/x64/Debug/HotlineMiami.tlog/link.read.1.tlog
Game/HotlineMiami/x64/Debug/HotlineMiami.log
Game/HotlineMiami/x64/Debug/HotlineMiami.ilk
Game/HotlineMiami/x64/Debug/HotlineMiami.tlog/link.read.1.tlog
Game/HotlineMiami/x64/Debug/HotlineMiami.log
Game/HotlineMiami/x64/Debug/HotlineMiami.ilk
Game/.vs/Game/v17/Browse.VC.db
Game/.vs/Game/v17/.suo
